# Redis Configuration
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=
REDIS_USERNAME=

# gRPC Server Configuration
GRPC_ADDR=:50051

# Clerk Configuration
CLERK_SECRET_KEY=your_clerk_secret_key_here

# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
